:root {
  --primary: #4D5AE5;
  --cta: #404BBF;
  --dark: #2E2F42;
  --primary-text: #434455;
  --background-grey: #2E2F42;
  --background-white: #FFFFFF;
  --accent-color: #F4F4FD;
  --accent-cornflower: #E7E9FC;
  --mint: #31D0AA;
  --lightscale: #8E8F99;
  --dairy: #FCFCFC;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-white);
  color: var(--primary-text);
  font-size: 16px;
  letter-spacing: 0.03em; 
}

/* css resets */
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  line-height: 1.2;
}

.p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
ul{
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section.no-top-padding {
  padding-top: 0;
}

/* logo */

.logo {
  color: var(--primary);
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
}

.logo-black {
  color: var(--background-grey);
}

.logo-white {
  color: var(--accent-color);
}

/* header */

.page-header {
  border-bottom: 1px solid #ececec;
  width: 1440px;
}

.menu,
.nav,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}



.nav-menu {
  margin-left: 76px;
}

.contacts-menu {
  margin-left: 335px;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 65px;
}

.nav-menu .page,
.contacts-menu .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--cta)
}

/* underlined effects */
.nav-menu .current-link{
  position: relative;
  text-decoration: none;
  color: var(--cta);
}

.current-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--cta);
}


/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.bg-hero {
  background-color: var(--background-grey);
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46,47,66,0.7)),
      url('../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-heading {
  color: var(--background-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  letter-spacing: 1.12px;
  margin-bottom: 30px;
}

/* buttons */
.button {
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
}

.order {
  background-color: var(--primary);
  color: var(--background-white);
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button.order:hover,
.button.order:focus {
  background-color: var(--cta);
}

.features {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.feature-item-img{
  height: 112px;
  width: 100%;
  border-radius: 4px;
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}


/* our team */



.teams {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.teams .member {
  flex-basis: calc((100% - 90px)/ 4);
}

.bg-team {
  background-color: var(--accent-color);
}

.teams .member {
  background-color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member .members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 10px;
}

.task {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.task .tasks {
  flex-basis: calc((100% - 60px) / 3);
}

.teams-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-list-item{
  list-style: none;
}

.social-list-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
} 
.social-list-img {
  fill: var(--accent-color);
}
.teams-social-list a:hover,
.teams-social-list a:focus{
  background-color: var(--cta);
}

/*customers*/

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 120px 15px;
}

.customers-title {
  text-align: center;
  color: var(--dark);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.customers-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

.customers-list-item {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightscale);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px 25px;
  cursor: pointer;
}


.customers-list-item-img {
  width: 100%;
  fill: var(--lightscale);
}

.customers-list-item:hover {
  border: 1px solid var(--cta);
}

.customers-list-item-img:hover {
  fill: var(--cta);
}

/* portfolio */

.option {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.option .cards {
  flex-basis: calc((100% - 60px) / 3);
}

.cards {
  border-bottom: 1px solid var(--accent-cornflower);
  border-left: 1px solid var(--accent-cornflower);
  border-right: 1px solid var(--accent-cornflower);
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.cards .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 20px;
}

.cards{
  background-color: var(--background-white);
  border: 2px 2px;
  position: relative;
}

/* overlay animation */

.cards-box {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;
  flex-shrink: 0;
  background-color: var(--primary);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:hover .overlay {
  transform: translateY(0);
  will-change: transform;
}

.overlay p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.2;
  margin: 0;
  padding: 40px 32px 0 32px;

}

.portfolio-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}

.selects {
  border-radius: 4px;
  border: 1px solid var(--accent-cornflower);
  background: var(--accent-color);
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
}

.selects:hover, 
.selects:focus {
  background-color: var(--primary);
  color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 2px 1px rgba(0, 0, 0, 0.12);
}


.portfolio-select {   
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: center;
  gap: 24px;
}

.portfolio-select-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

/* footer */

.page-footer {
  display: flex;
  align-items: flex-start;
  background-color: var(--background-grey);
  width: 1440px;
  height: 312px;
  padding: 100px 156px;
  gap: 120px;
}

.footerlogo{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  gap: 8px;

}

.footerlogo p{
  font-size: 16px;
  color: var(--accent-color);
  line-height: 1.2;
  width: 264px;
  letter-spacing: 0.32px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-social-title {
  font-size: 16px;
  color: var(--background-white);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.32px;
}

.footer-social-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 0;
}

.footer-social-item{
  list-style: none;
}
.footer-social-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  background: var(--cta);
  border-radius: 50%;
  cursor: pointer;
}

.footer-social-list-img {
  width: 100%;
  fill: var(--accent-color);
}

.footer-social-item a:hover,
.footer-social-item a:focus {
  background: var(--mint);
}


.modal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: auto;
  opacity: 1;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transform: none;
}

.modal.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none; 
  transform: translateY(-20px);
}

.modal.is-hidden .modal-content{
  transform: scale(0.5);
}

.modal-content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
              0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: none;
  transition: transform 250ms;
}

.modal-close{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: solid 1px var(--lightscale);
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.close-icon {
  width: 100%;
  height: 100%;
  padding-top: 7px;
  padding-left: 1px;
  fill: var(--dark);
  

}

.modal-close:active {
  background-color: var(--cta);
}
.close-icon:active{
  fill: var(--background-white);
}

/* modal form */
.form-title {
  display: flex;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--dark);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.32px;
  margin: 0;
  padding: 50px 0 20px 0;
  
}

.signup_form{
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
}

.signup_form .forminput{
  width: 360px;
  height: 40px;
  padding-left: 30px;
}
.signup_form input:nth-child(n+7){
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-bottom: 80px;
}

.input{
  position: relative;
  text-underline-offset: 10px;
}

.input svg{
  position: absolute;
  left: 10px;
  top: 22px;
  transform: translateY(-50%); 
  width: 18px;
  height: 24px;
}

.input .input-icon:active,  
.input .input-icon:hover{
  fill: var(--cta);
}

.input.input-icon:focus{
  fill: var(--cta);
}
.terms{
  color: var(--LIGHT-SLATE, #8E8F99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;   
  letter-spacing: 0.48px;
}

.modalsubmit{
  display: inline-flex;
  padding: 16px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px 32px;
  width: 169px;
  border: 0;
  background-color: var(--primary);
  color: var(--background-white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}






















  